<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
      <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
   <system.serviceModel>
      <bindings>
         <basicHttpBinding>
            <binding name="labware_weblims_authenticateSoap11Binding" />
            <binding name="labware_weblims_closeSoap11Binding" />
         </basicHttpBinding>
         <customBinding>
            <binding name="labware_weblims_authenticateSoap12Binding">
               <textMessageEncoding messageVersion="Soap12" />
               <httpTransport />
            </binding>
            <binding name="labware_weblims_closeSoap12Binding">
               <textMessageEncoding messageVersion="Soap12" />
               <httpTransport />
            </binding>
         </customBinding>
      </bindings>
      <client>
         <endpoint address="http://10.110.34.133:8080/PTV5/services/labware_weblims_authenticate.labware_weblims_authenticateHttpSoap11Endpoint/"
            binding="basicHttpBinding" bindingConfiguration="labware_weblims_authenticateSoap11Binding"
            contract="Authenticate.labware_weblims_authenticatePortType"
            name="labware_weblims_authenticateHttpSoap11Endpoint" />
         <endpoint address="http://10.110.34.133:8080/PTV5/services/labware_weblims_authenticate.labware_weblims_authenticateHttpSoap12Endpoint/"
            binding="customBinding" bindingConfiguration="labware_weblims_authenticateSoap12Binding"
            contract="Authenticate.labware_weblims_authenticatePortType"
            name="labware_weblims_authenticateHttpSoap12Endpoint" />
         <endpoint address="http://10.110.34.133:8080/PTV5/services/labware_weblims_close.labware_weblims_closeHttpSoap11Endpoint/"
            binding="basicHttpBinding" bindingConfiguration="labware_weblims_closeSoap11Binding"
            contract="CloseWS.labware_weblims_closePortType" name="labware_weblims_closeHttpSoap11Endpoint" />
         <endpoint address="http://10.110.34.133:8080/PTV5/services/labware_weblims_close.labware_weblims_closeHttpSoap12Endpoint/"
            binding="customBinding" bindingConfiguration="labware_weblims_closeSoap12Binding"
            contract="CloseWS.labware_weblims_closePortType" name="labware_weblims_closeHttpSoap12Endpoint" />
      </client>
     </system.serviceModel>
</configuration>